/* Adidas Shadow Tokens */

:root,
:after,
:before {
  --gl-web-shadow-textshadow-1: 1px 1px 0px rgba(255, 255, 255, 1);
  --gl-web-shadow-textshadow-inverse-1: 1px 1px 0px rgba(0, 0, 0, 1);
  --gl-app-shadow-textshadow-inverse-1: 3px 3px 0px rgba(0, 0, 0, 1);
}

